{% extends 'base.html' %}
{% block content %}

{% if profile %}
<div class="container text-centre">
        <div class="row">
            <div class="col-8">
                <h1> {{profile.user.username}}'s Profile </h1>
            </br>
            {% if tweets %}
                {% for tweet in tweets %}
                    <div class="alert alert-light" role="alert">
                        {{ tweet.body }}</br>
                        <small class="text-muted">
                            ({{ tweet.created_at }}) By <a href="{% url 'profile' profile.user.id %}">@{{ profile.user.username|lower }}</a>
                        </small>
                    </div>
                    </br>
                {% endfor %}
           {% endif %}
            </div>
        
            <div class="col-4">
            </br></br></br>
            {% if profile.profile_image %}
               <img src="{{profile.profile_image.url }}" class="rounded-corner" width="200px" height="200px"> 
            {% endif %}
        </br></br>
                <div class="card">
                    <div class="card-header">Follows</div>
                        <div class="card-body">
                            <p class="card-text">
                                {% for following in profile.follows.all %}
                                    <a href="{% url 'profile' following.user.id %}" > @{{ following }}</a></br>

                                {% endfor %}</p>
                        </div>
                    </div>
                
                </br></br>
                                <div class="card">
                    <div class="card-header">Followed By</div>
                        <div class="card-body">
                            <p class="card-text">
                                {% for following in profile.followed_by.all %}
                                    <a href="{% url 'profile' following.user.id %}" > @{{ following }}</a></br>

                                {% endfor %}</p>
                        </div>
                    </div>
                </br>
            </br>

            <form method ="POST">
                {% csrf_token %}
                {% if profile in user.profile.follows.all %}
                    <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit">
                        Unfollow @{{ profile.user.profile|lower }}
                    </button>
                {% else %}
                    <button class="btn btn-outline-success" name="follow" value="follow" type="submit">
                        follow @{{ profile.user.profile|lower }}
                    </button>
            </form>
            {% endif %}
            </br></br>
            <!--check for correct User-->
            {% if request.user.id == profile.user.id %}
            <a href="{% url 'update_user' %}" class="btn btn-outline-secondary">Update Profile</a>
            {% endif %}
            </div>
        </div>
    </div>
{% endif %}
    
{% endblock %}